body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

.btn {
  border: none;
  background-color: #ababab;
  color: black;
  boder-radius: 1px solid grey;
}

.skills-container {
  display: flex;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 20px;
}
.skill-wrapper {
  font-size: 15px;
  padding: 2px;
  flex-grow:1;
  flex-basis: 25px;
  min-width: 110px;
  max-width: 110px;
  background: white;
  border-radius: 7px;
}
.skill-years {
  color: grey;
  font-size: 12px;
}
.skill-places {
  display: flex;
  float: right;
}
.dot {
  flex-grow:1;
  max-width: 12px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.marinus-dot {
  background-color: #1de2b8;
}
.osu-dot {
  background-color: #ff8d42;
}
.cmu-dot {
  background-color: #ea2a2a;
}
.project-dot {
  background-color: #39b3f9;
}
.linkedin {
  width:20px;
}


html,body {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%; 
  width: 100%;
/*  color: white;*/
/*  text-align: center;*/
padding: 10px;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}

.scroll-bg {
  padding: 20px;
  background-color: white;
  color: black;
}

/* first section */

.bg-1 {
  background-color: white;
  height:400px;
}
.bg-scroll-2 {
  background-color: #72cbff;
}

/* third section */

.bg-2 { 
  background-image: url('./img/PittsburghSky1.png');
  height:500px;
}

/* fifth section */

.bg-3 {
/*  background-image: url('./img/purplepink.jpg');*/
  background-color: #F4DBD8;
}

.principles-section {
  margin: 30px;
}
.marinus-work-subtitle {
  color: blue;
}

.about-section-title {
  margin: 10px 20px;
}
.title-role {
  color: #1e63db;
}
.header {
  margin: 1vh 3vh 0 0 0;
  color: #000000;
  text-align: left;
  font-size: 20px;
}

.header-links {
 color: #000000;
 text-align: right;
}

@media screen and (max-width: 500px) {
  /* .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  } */
}

main {
  padding: 0;
}

.column:hover {
    width: 100vh;
}

.main-outer {
  padding: 15px 0px 0px 0px;
  background-color: white;
}
.main-inner {
  margin: auto;
  background-color: #ccc9d6;
  width: 100%;
  padding: 24px;
  font-size: 20px;
}
.react-vis-chart-example1 {
  background-color: white;
  margin:auto;
}
.accent {
  background-color: #ccc9d6;
}

.main-inner-40 {
  height: 22vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.main-inner-60 {
  height: 27vh;
  transition:height 0.8s;
  -webkit-transition:height 0.8s;
}
.main-inner-20 {
  height: 37vh;
  transition:height 0.8s;
  -webkit-transition:height 0.8s;
}


.main-outer-40 {
  height: 22vh;
  transition:height 0.8s;
  -webkit-transition:height 0.8s;
}
.main-outer-60 {
  height: 27vh;
  transition:height 0.8s;
  -webkit-transition:height 0.8s;
}
.main-outer-20 {
  height: 37vh;
  transition:height 0.8s;
  -webkit-transition:height 0.8s;
}

.main-inner-40-hover {
  height: 26vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.main-inner-60-hover {
  height: 31vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.main-inner-20-hover {
  height: 41vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}

.main-outer-40-hover {
  height: 20vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.main-outer-60-hover {
  height: 25vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.main-outer-20-hover {
  height: 35vh;
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}


.small-box-view {
  height: 20vh;
}


.main-inner-square {
  height: 20vw;
  width: 20vw;
}
.main-inner-square:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  height: 20vw;
  width: 20vw;
}

.disabled-box {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.work-at-marinus-title {
  width: 100%;
  text-align: right;
}
.pub-my-name {
  color: blue;
  font-weight: bold;
}
.penrose-graph {
  width: 160px;
}
.once-upon {
  width: 200px;
}
.marinus-site {
  max-width: 300px;
  width: 100%;
}
.my-face {
  background-image: url(./img/my_face.png);
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.main-inner-wrapper {
  padding: 1.5vh;
  width: 100%;
}

.background1 {
  margin: auto;
  width: 85vw;
  height: 80vh;
  margin-top: 5vh;
  padding: 5vh 5vw;
  background-image: url(./img/deathvalley.jpg);
  background-size: cover;
}

.background2 {
  margin: auto;
  width: 85vw;
  height: 80vh;
  margin-top: 5vh;
  padding: 5vh 5vw;
  background-image: url(./img/purplepink.jpg);
  background-size: cover;
}

.background3 {
  margin: auto;
  width: 85vw;
  height: 80vh;
  margin-top: 5vh;
  padding: 5vh 5vw;
  background-image: url(./img/phonelines.jpg);
  background-size: cover;
}

.background4 {
  margin: auto;
  width: 85vw;
  height: 80vh;
  margin-top: 5vh;
  padding: 5vh 5vw;
  background-image: url(./img/whispy.jpg);
  background-size: cover;
}

.grow {
  transition:height 0.5s;
  -webkit-transition:height 0.5s;
}
.grow:hover {
    height: 115px; /* This is the height on hover  */
}

.white-box-backround {
  width: 70vw;
  height: 70vh;
  background-color: white;
}

.highlighted1 {
  color: white;
  background-image: url(./img/deathvalley.jpg);
  background-size: cover;
}
.highlighted2 {
  color: white;
  background-image: url(./img/purplepink.jpg);
  background-size: cover;
}
.highlighted3 {
  color: white;
  background-image: url(./img/phonelines.jpg);
  background-size: cover;
}
.highlighted4 {
  color: white;
  background-image: url(./img/whispy.jpg);
  background-size: cover;
}

.highlighted:hover {
  background-color: #ffffff;
  color: black;
}

.portfolio-wrapper {
  padding: 5vh 0;
}
.title-row {
  margin-bottom: 2vh;
}

.title-subheader {
  font-size: 15px;
}

.image-mockups-carousel {
  max-width: 300px;
}
.image-mockups-carousel-wrapper {
  margin: 20px;
  text-align: center;
}

.image-mockups-carousel-caption {
  margin: auto;
  display: inline-block;
  padding: 20px;
}

.prev-next-carousel {
  background: white;
  border: none;
  outline: none;
  font-size: 25px;
  color: black;
}

.center {
  margin:auto;
}



.split-para { display:block;margin:10px;}
.split-para span { display:block;float:right;width:50%;margin-left:10px;}


.content-buttons {
  height: 5vw;
  margin: 2vw;
  width: 420px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  color: black;
  font-size: 20px;
  background-color: #ebebeb;
}

.inner-content-buttons {
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.hidden {
  display: none;
}
