/* --------------    Defaults   --------- */
/* --------------------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

html,body {
  height: 100%;
/*  background: blue;*/
}

.my-hr {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  margin: 8px;
}
.old-btn {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
/*  background-color: #ababab;*/
}
.old-btn.selected {
/*  background-color: #999;*/
  color: #444;
}
.flex-container {
  display: flex;
}
.hidden {
  display: none;
}

.hidden-link {
  color: black !important;
}
.hidden-link:hover {
  text-decoration: none;
}
.justify-around {
  justify-content: space-around;
}
.full-page {
  height: 90vh;
}
.grey {
  color: grey;
}
.my-btn {
    border: none;
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    background: #008CBA;
    color: white;
    margin-bottom: 20px;
}

.wrapper {

}
.center {
  margin:auto;
}
.black {
  color:black;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hidden {
  display: none;
}
.flex-basis {
  flex-basis: 10px;
}


/* --------------    mockups page   ---- */
/* --------------------------------------- */
.prev-next-carousel {
  background: white;
  border: none;
  font-size: 20px;
  margin: 10px;
  flex-grow: 1;
  max-width: 150px;
}
.outer-carousel {
  display: flex;
  justify-content: space-around;
}
.carousel-indiv-img-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
.image-mockups-carousel {
  max-height: 80vh;
}
/* --------------    Slider   ----------- */
/* --------------------------------------- */
.myslider {
  min-width: 80%;
  max-width: 100%;
  margin: auto 20px;
  height: 25px;
}

.myslider-track {
   top: 8px;
  height: 4px;
  background: grey;
}

.myslider-track.myslider-track-0 {
  background: white;
}
.myslider-thumb {
  cursor: pointer;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  outline: none;
}

.myslider-thumb:hover {
  box-shadow: 0 0 0 8px blue;
}

/* --------------    Pixel Art Page   ---- */
/* --------------------------------------- */
.pixel-too-small {
  display: none;
  min-height: 90vh;
}
.flex-container-center {
/*  display: flex;*/
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.download-pixel-button {
  mix-width: 200px;
}
.colored-bg-pixel {
  background: pink;
}
.canvas-wrapper {
  width: 580px;
  height: 580px;
  border-radius: 10px;
  background-color: white;
}
.tools-pixel {
  height: 580px;
/*  background-color: white;*/
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  
}
.my-canvas {
  margin: 10px auto;
  background: white;
  border: 2px solid white;

  display:block;
}
.color-palette {
  flex-wrap: wrap;
}

.pixel-art-page {
  padding: 30px;
  background: pink;
  margin: auto;
}
.pixel-art-title {
  margin-left: 30px;
}

.pixel-color-picker-wrapper {
  margin: 0 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.chosen-brush-tool {
  margin: 5px 0px;
  width: 150px;
  height: 150px;
  border: 1px solid white;

  border-radius: 10px;
  background-color: white;
}
.chosen-brush {
  margin: auto;
}
.pixel-preview, .longturn-preview, .barter-preview {
  width: 23vw;
}
.barter-preview {
  width: 20vw;
}
.project-subtitle {
  margin-bottom: 5px;
  color: grey;
  font-size: small;
}
.no-hover-underline:hover {
  text-decoration: none !important;
}
.history-section {
  overflow-x: scroll;
  max-height: 110px;
  font-size: 12px;
}
.history-time {
  font-style: italic;
  color: grey;
}

.color-box {
  border: 1px solid white;
}

.undo-button-wrapper {
  margin: auto;
}
.pixel-button {
  font-size: 14px;
  padding:5px 10px;
  border: none;
  background: white;
  border-radius: 10px;
  margin: 5px;
  color: #333;
}
.pixel-button.selected {
  background: #ddd;
  color: black;
}
.pixel-button.disabled {
  color: grey;
}
.pixel-button.btn-primary {
  background-color: #329ec9;
}
.clear-modal {
  margin-top:40vh !important;
}


/* --------------    Project Page   -------- */
/* --------------------------------------- */
.project-square {
  display: inline-block;
  margin: 20px;
/*  min-width: 250px;*/
/*  width: 25vw;*/
}
.project-img:hover {
  text-shadow: 0 0 8px rgba(79, 211, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(79, 211, 255, 0.8), 0 6px 20px rgba(79, 211, 255, 0.8);
}
.project-wrapper {
  min-height: 100vh;
  height: 100%;
}
.project-flex-wrapper {
  width: 100%;
}
.image-mockups-carousel-caption {
  margin:10px;
  margin-top: 20px;
  color: grey;
  font-size: 18px;
  word-wrap: break-word;
}

/* --------------    About Page   -------- */
/* --------------------------------------- */
.beerplace-art, .dataday-art {
  width: 250px;
}
.title-accordion  {
  margin:auto;
  padding: 10px 10px;
  color: white;
}
.accordion-wrapper {
  margin: 10px 0px;
}
.scroll-info {
  color: #008CBA;
}

.in-site-links {
  min-width: 37vw;
  max-width: 37vw;
  padding: 10px 5px;
/*  border: 2px solid grey;*/
  border-radius: 30px;
  margin: auto;
  text-align: center;
  font-size: 25px;
}

.projects-link {
 background-color: #83c172;
}
.resume-link {
  background-color: #fcb75d;
}
.in-site-links:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.3), 0 6px 20px rgba(0,0,0, 0.3);
}
.in-site-links-wrapper {
  margin: 20px;
}

.outer-accordion {
  max-height: 55px;
  overflow: hidden;
  transition: max-height 0.8s ease;
  -webkit-transition:max-height 0.8s ease;
}
.outer-accordion:hover {
  max-height: 100%;
  transition: max-height 0.8s ease;
  -webkit-transition:max-height 0.8s ease;
}

.skills-container {
  width: 100%;
/*  align-content: flex-start;*/
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 20px;
}
.skill-wrapper {
  font-size: 15px;
  padding:4px;
  display: inline-block;
  margin: 5px;
  min-width: 120px;
  max-width: 150px;
  background: white;
  border-radius: 7px;
}
.skill-years {
  color: grey;
  font-size: 12px;
}
.skill-places {
  display: flex;
  float: right;
}
.dot {
  flex-grow:1;
  max-width: 12px;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.dot-medium {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left:10px;
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
}
.dot-title {
  font-size: 18px;
  margin-left: 3px;
  transition: width 0.5s ease-out;
  -webkit-transition:width 0.5s ease-out;
}
.marinus-dot {
  background-color: #1de2b8;
}
.marinus-color {
  color: #1de2b8;
}
.osu-dot {
  background-color: #ff8d42;
}
.dots-container {
  font-size: 15px;
  margin: 10px;
  display: flex;
}
.osu-color {
  color: #ed782a;
}
.cmu-dot {
  background-color: #ea2a2a;
}
.cmu-color {
  color: #ea2a2a;
}
.project-dot {
  background-color: #1473e0;
}
.project-color {
  color: #1473e0;
}
.header-icon {
  width:20px;
  margin-bottom: 2px;
}
.github {
  width: 25px;
  margin-bottom:4px;
}
.resume-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin:20px 0px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  height: 100%; 
  width: 100%;
/*  color: white;*/
/*  text-align: center;*/
  padding: 10px;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
}

.scroll-bg {
  padding: 20px;
  background-color: white;
  color: black;
}

/* first section */

.bg-1 {
  background-color: white;
  height:400px;

}
.bg-scroll-2 {
  background-color: #79b1f2;
}

.bg-2 { 
  background-image: url('./img/PittsburghSky1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  min-height: 520px;
  min-width: 100%;
}


.bg-3 {
  background-color: #f7ac6f;
}

.bg-4 { 
  background-image: url('./img/osu.png');
  /*  background-size: cover;*/
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 500px; 
  width: 100%;

}

.principles-section {
  margin: 30px;
}
.marinus-work-subtitle {
  color: #1473e0;
}
.bullet-start {
  font-weight: bold;
}

.ta-li {
  margin: 10px;
  font-size: 18px;
}

.more-work-section {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid grey;
}


.about-section-title {
  display: flex;
}
.title-role {
  color: #4092c9;
}
.header {
  margin: 1vh 3vh 0 0 0;
  color: #000000;
  text-align: left;
  font-size: 20px;
}

.header-links {
 color: #000000;
 text-align: right;
}

.right-title {
  width: 100%;
  text-align: right;
}
.pub-my-name {
  color: #1473e0;
  font-weight: bold;
}
.penrose-graph {
  width: 160px;
  margin-left: 20px;
  max-width: 100%;
}
.once-upon {
  margin-left: 20px;
  width: 170px;
  max-width: 100%;
}
.seqan {
  margin-left: 20px;
  width: 170px;
  max-width: 100%;
}
.advisors-section {
  color: grey;
}
.publication {
  margin-left: 20px;
  padding-left: 10px;
  word-wrap:break-word;
  font-size: 15px;
/*  font-weight: bold;*/
  border-left: 2px solid grey;
}
.marinus-site {
  display: block;
/*  max-width: 500px;*/
  max-width: 300px;
  max-height: 250px;
  width: 100%;
}
.marinus-work-firstpart {
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.my-face {
  background-image: url(./img/my_face.png);
  object-fit: cover;
  border-radius: 50%;
  display: block;
  max-width:100%;
  width: auto;
  height: auto;
}
.research-info-wrapper {
  margin-left: 10px;
}


.my-3-6-wrapper {
  display: flex;
}
.my-3-wrapper {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  min-width: 20vw;
}
.my-6-wrapper {
  flex-grow: 4;
  padding: 0px 10px;
/*  flex-basis: 25px;*/
  margin: 10px;
}
.face-wrapper {
  margin-right: 25px;
  max-width: 250px;
}


.footer {
  background-color: #222;
  color: white;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  position: sticky;
}

.main-inner-wrapper {
  padding: 1.5vh;
  width: 100%;
}


.grow {
  transition:transition 0.5s;
  -webkit-transition:transition 0.5s;
}


.portfolio-wrapper {
  padding: 5vh 0;
}
.title-row {
  margin-bottom: 2vh;
}

.title-subheader {
  font-size: 15px;
}

.split-para { display:block;margin:10px;}
.split-para span { display:block;float:right;width:50%;margin-left:10px;}


.content-buttons {
    height: 50px;
    margin: 10px;
    max-width: 600px;
    text-align: left;
    color: black;
    font-size: 25px;
/*    background-color: #008CBA;*/
/*    color:white;*/
    border-radius: 25px;
    padding: 10px 20px;
}

.inner-content-buttons {
  display:flex;
}
.contact-modal-icon {
  margin-right: 10px;
  width: 35px;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.project-subtitle {
  display: none;
}
/* --------------- Mobile ------------- */
/* ------------------------------------ */
@media only screen and (max-width: 990px) {
  .my-face {
    max-width: 250px;
    max-height: 250px;
    margin: 20px;
  }
}


@media only screen and (max-width: 670px) {
  .my-face {
/*    max-width: 200px;*/
    margin: 20px;
  }
  .my-3-wrapper {
    justify-content: space-around;
  }

  .my-3-6-wrapper {
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .face-wrapper {
    margin: auto;
  }
  .skill-wrapper {
    font-size: 12px;
    min-width: 90px;
  }
}

@media only screen and (max-width: 650px) {
  .project-subtitle {
    display: block;
    color: grey;
  }
  .longturn-title, .pixel-title {
    color: grey;
  }
  .pixel-preview, .longturn-preview {
    opacity: 0.7;
    box-shadow: none;
  }
  .pixel-preview:hover, .longturn-preview:hover{
    opacity: 0.5;
  }
  .pixel-preview, .longturn-preview, .barter-preview {
    width: 60vw;
  }
  .penrose-graph {
    width: 200px;
  }
  .once-upon {
    width: 210px;
  }
  .seqan {
    width: 210px;
  }
  .penrose-graph, .once-upon, .seqan {
    margin-left: 0px;
  }
  
}


@media only screen and (max-width: 999px) {
  .pixel-too-small {
    display: block;
    width: 100%;
  }
  .pixel-too-small-text {
    font-size: 20px;
    margin:30px;
  }
  .pixel-art-page {
    display: none;
  }
  .pixel-example {
    margin: auto;
    max-width: 400px;
    display: block;
    padding: 30px;
  }
  .colored-bg-pixel {
    background: white;
  }
}
